.logo-container {
    text-align: center;
    position: relative;
  }
  
  .logo-container img {
    width: 150px; 
    height: auto;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 0;
  }
body{
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
 background: linear-gradient(to bottom,#665138, white,rgb(128, 104, 94));
}
h1 {
    font-family: Verdana,Tahoma, sans-serif;
    font-style: italic;
    font-display: inherit;
    margin-left: auto;
    
}
